.script-title {
  font-family: "plusjakartasans-medium";
  font-size: 20px;
}

.script-public-date {
  font-family: "plusjakartasans-regular";
  font-size: 14px;
}

.script-author {
  font-family: "ruberoid-semibold";
}
