<div
  class="script-details p-[15px] rounded-md border-[1px] font-[plusjakartasans-medium]"
>
  <div class="flex flex-row gap-x-[10px]">
    <img
      src="{{ script.profile.profile_image }}"
      alt=""
      class="rounded-full size-10"
    />
    <div class="flex flex-col">
      <div class="flex flex-row items-center">
        <div>
          {{ script.profile.profile_Fullname }}
        </div>
        <div class="text-main-purple">Siguiendo</div>
        <div
          class="rounded-full size-4 bg-main-purple relative items-center justify-center flex ms-1"
        >
          <app-svg-check class="size-[9px] absolute pt-[1px]" />
        </div>
      </div>
      <div
        class="flex flex-row text-[10px] text-gray-400 font-[plusjakartasans-light]"
      >
        Ingeniero civil
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-xs text-main-purple">{{ script.script_name }}</h2>
    <p class="min-h-[100px] overflow-ellipsis">
      {{ script.script_description }}
    </p>
    <span
      class="flex flex-row text-[10px] text-gray-400 font-[plusjakartasans-light]"
      >Ver más
    </span>
  </div>

  <div>
    <h2>Mas informacion</h2>

    <app-multimedia-carousel [multimedia]="script.script_multimedia" />

    @for (item of script.script_multimedia; track item) {
    <p>{{ item }}</p>
    <!-- <img
      src="{{ item }}"
      alt=""
      class="rounded-md border-main-purple border-[1px]"
    /> -->
    }
    <div class="flex flex-row gap-[10px]">
      @for (item of script.proglang; track item.id_proglang) {
      <app-pill-container [ProgLang]="item" />
      } @for (item of script.software; track item.id_software) {
      <app-pill-container [Software]="item" />
      }
    </div>
    <div>
      <p>
        Publicado :<span>{{ script.script_date }}</span>
      </p>
      <p>
        Ultima version :<span>{{ script.script_date }}</span>
      </p>
      <p>
        Ultima actualizacion :<span>{{ script.script_date }}</span>
      </p>
      <p>Licencia :<span>AECODE</span></p>
    </div>
  </div>
</div>
