<div class="home-container content-center h-[864px] bg-white">
  <app-main-container>
    <div class="flex flex-col text-center w-[999px] mx-auto">
      <h1 class="home-title items-center opacity-90 text-nowrap">
        Ingeniería 4.0 & Programación
      </h1>
      <h2 class="home-subtitle text-main-purple text-nowrap mx-auto pt-8">
        INNOVACION | DIGITALIZACION | AUTOMATIZACION
      </h2>
      <h3 class="pt-2">
        Únete a la comunidad líder para profesionales del sector AEC enfocados
        en la innovación y digitalización. Conecta con empresas, explora
        soluciones de automatización, artículos y cursos especializados, y un
        amplio networking donde podrás compartir tus ideas a nivel mundial.
      </h3>
    </div>

    <app-script-carousel />
  </app-main-container>
</div>
