<div class="home-container content-center h-[864px] bg-white">
  <app-main-container>
    <div class="flex flex-col text-center gap-y-3 w-[999px] mx-auto">
      <span class="home-title items-center opacity-90 text-7xl text-nowrap">
        Ingeniería 4.0 & Programación
      </span>
      <span
        class="home-subtitle tracking-[0.4rem] text-main-purple text-[28px] text-nowrap"
      >
        INNOVACION | DIGITALIZACION | AUTOMATIZACION
      </span>
      <h3 class="pt-2">
        Únete a la comunidad líder para profesionales del sector AEC enfocados
        en la innovación y digitalización. Conecta con empresas, explora
        soluciones de automatización, artículos y cursos especializados, y un
        amplio networking donde podrás compartir tus ideas a nivel mundial.
      </h3>
    </div>

    <app-script-carousel />
  </app-main-container>
</div>
